@charset "utf-8";
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;top:0;left:0;display:none;}
#TimeSelectBox{position:absolute;left:5%;top:20%;background:white;width:90%;height:60%;border:3px solid #444;border-radius:7px;z-index:10000;display:none;}
.row1{background:#f7f7f7;padding:0px 20px;line-height:50px;height:50px;font-weight:bold;color:#666;font-size:20px;}
.row{height:77px;line-height:77px;padding:0px 30px;font-family:华文楷体;font-size:x-large;}
.close_btn{font-family:arial;font-size:30px;font-weight:700;color:#999;text-decoration:none;float:right;padding-right:4px;}
.inputBox{border:1px solid #c3c3c3;padding:1px 3px 6px 3px;border-radius:5px;margin-left:5px;}
#InfoChooseDate{height:27px;width:60%;border:none;}
#InfoTimeInterval{height:27px;width:60%;border:none;}
#loginbtn{position:absolute;left:1%;bottom:1%;width:90%;height:20%;color:White;background:#4490f7;text-decoration:none;padding:2% 0%;margin-left:2%;margin-top:0%;border-radius:5px;opacity:0.6;filter:alpha(opacity=60);text-align:center;vertical-align:middle;}
#example{position:absolute;left:0;top:0px;width:92%;color:White;background:#4490f7;text-decoration:none;margin-left:4%;margin-top:2%;border-radius:5px;opacity:0.6;filter:alpha(opacity=60);text-align:center;vertical-align:middle;}
.Line{position:absolute;left:0;top:0px;width:100%;height:20%;color:White;background:#4490f7;text-decoration:none;margin-left:0%;margin-top:5%;border-radius:0px;opacity:0.6;filter:alpha(opacity=60);text-align:center;vertical-align:middle;font-size:20px}
.warning{float:right;color:Red;text-decoration:none;font-size:20px;font-weight:bold;margin-right:20px;display:none;}
#score{position:absolute;top:5%;left:0%;width:100%;height:30%;}
#drivingInfo{position:absolute;top:40%;left:0%;width:100%;height:30%;}
#IllegalInfo{position:absolute;top:70%;left:0%;width:100%;height:30%;}
.press{
color: transparent;
background-color : black;
text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
-webkit-background-clip : text;text-align:center;
}